# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## OS
.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Package.pins
Calatrava.xcodeproj
Workspace/runtime/calatrava.log
/Package.resolved
/Workspace/static/_md
/Workspace/static/img/post
/Workspace/templates/posts/16012.html
/Workspace/templates/posts/16011.html
/Workspace/templates/posts/16010.html
/Workspace/templates/posts/16009.html
/Workspace/templates/posts/16008.html
/Workspace/templates/posts/16007.html
/Workspace/templates/posts/16006.html
/Workspace/templates/posts/16005.html
/Workspace/templates/posts/16004.html
/Workspace/templates/posts/16003.html
/Workspace/templates/posts/16002.html
/Workspace/templates/posts/16001.html
/Workspace/templates/posts/17029.html
/Workspace/templates/posts/17028.html
/Workspace/templates/posts/17027.html
/Workspace/templates/posts/17026.html
/Workspace/templates/posts/17025.html
/Workspace/templates/posts/17024.html
/Workspace/templates/posts/17023.html
/Workspace/templates/posts/17022.html
/Workspace/templates/posts/17021.html
/Workspace/templates/posts/17020.html
/Workspace/templates/posts/17019.html
/Workspace/templates/posts/17018.html
/Workspace/templates/posts/17017.html
/Workspace/templates/posts/17016.html
/Workspace/templates/posts/17015.html
/Workspace/templates/posts/17014.html
/Workspace/templates/posts/17013.html
/Workspace/templates/posts/17012.html
/Workspace/templates/posts/17011.html
/Workspace/templates/posts/17010.html
/Workspace/templates/posts/17009.html
/Workspace/templates/posts/17008.html
/Workspace/templates/posts/17007.html
/Workspace/templates/posts/17006.html
/Workspace/templates/posts/17005.html
/Workspace/templates/posts/17004.html
/Workspace/templates/posts/17003.html
/Workspace/templates/posts/17002.html
