<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="user-scalable=no, width=720px, height=1280px"/>
	<title>关于我和我的博客 | {{_pjango_param_title_message}}</title>
	<link rel="icon" href="/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="/css/buttons.css">  
	<link rel="stylesheet" href="/css/height.css">  
	<link rel="stylesheet" href="/css/me.css">  
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/buttons.js"></script>
	<script src="/js/me.js"></script>
</head>
<style>
	p.big-title {
		color: white;
		font-size: 32px;
	}
	p.title {
		color: white;
		font-size: 22px;
	}
	p.text {
		color: white;
		font-size: 18px;
	}
	p.time {
		color: orange;
		font-size: 16px;
	}
	div.archive-cell {
		padding-bottom: 16px;
	}
	div.gap {
		height: 24px;
	}
	div.logo {
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 8px;
	}
	div.end {
		height: 20px;
	}
	img.logo {
		width: 100%;
	}
	img.donate {
		width: 40%
	}
	label.msg {
		font-size: 18px;
		color: white;
	}
	div.header {
		height: 60px;
	}
	button.title {
		font-size: 22px;
		pointer-events: none;
	}
	i.date {
		color: white;
		font-size: 18px;
	}
	p.comment_author {
		color: white;
		font-size: 24px;
		font-weight: bold;
	}
	p.comment {
		color: white;
		font-size: 20px;
	}
</style>
<body class="main-me">
	
<div class="box">
	
{{{_pjango_template_navigation_bar}}}
	
	<div class="col-md-12 column height-more-than-85">
		<div class="col-md-12 column header">
			<div class="height-10"></div>
			<div class="col-md-4 column col-center height-100 corner-window shadow text-center">
				<div class="height-30"></div>
				<p class="title">关于我和我的博客</p>
			</div>
		</div>
		<div class="col-md-offset-1 row clearfix">
			<div class="col-md-3 column">
				<div class="col-md-12 column">
					<div class="gap"></div>
					<div class="col-md-12 column corner-window shadow">
						<div class="gap"></div>
						<div class="text-center">
							<button class="button button-primary button-plain button-rounded button-border button-primary title">寄语</button>
						</div>
						<div class="gap"></div>
						<p class="title">欢迎来到我的博客，开发博客完全出于个人兴趣，欢迎留言。</p>
						<div class="gap"></div>
					</div>
					<div class="col-md-12 column gap"></div>
				</div>
				<div class="col-md-12 column">
					<div class="col-md-12 column corner-window shadow">
						<div class="gap"></div>
						<div class="text-center">
							<button class="button button-primary button-plain button-rounded button-border button-primary title">建设历史</button>
						</div>
						<div class="gap"></div>
{{#_pjango_param_table_history}}
					<div class="col-md-12 column archive-cell">
						<p class="time">{{_pjango_param_table_PostsHistory_DATE}}</p>
						<p class="text">{{_pjango_param_table_PostsHistory_CONTENT}}</p>
					</div>
{{/_pjango_param_table_history}}

					</div>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="col-md-12 column">
					<div class="gap"></div>
					<div class="col-md-12 column corner-window shadow">
						<div class="height-5"></div>
						<div class="col-md-12 column">
							<div class="text-center logo">
								<img class="logo" src="/img/Calatrava.png">
							</div>
							<hr />
							<p class="title text-center">关于博客</p>
							<hr />
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>博客后端框架名为 <a class="footer-link" target="_blank" href="https://github.com/enums/Pjango">「Pjango」</a>，现已开源。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>整体解决方案名为 <a class="footer-link" target="_blank" href="https://github.com/enums/Calatrava">「Calatrava」</a>，现已开源。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>后端使用 Swift 开发，已整体升级至 Swift 4.2。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>前端基于 Bootstrap 和 jQuery，使用 Mustache 渲染。</p>
							<hr />
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>其他基于 Pjango 的生态：<a class="footer-link" target="_blank" href="http://enumsblog.com/search_result?module=业余项目&keyword=Pjango&ignore_postman=true">「站内搜索」</a></p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>以上内容均由本人独立开发并维护。</p>
							<hr />
							<p class="title text-center">关于我</p>
							<hr />
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>我叫郑宇琦，也可以叫我 Yuu，和字母 U 相同发音。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>出生于“书藏古今，港通天下”的幸福城市浙江宁波。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>求学于“山水甲天下”的旅游城市广西桂林。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>从事 iOS 开发工作，现居北京，就职于百度。</p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>曾就职于中国科学院，喜爱图形学和 Swift。</p>
							<hr />
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>进一步了解我：<a class="footer-link" target="_blank" href="http://enumsblog.com/resume.pdf">「我的简历」</a></p>
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>和我取得联系：<a class="footer-link" target="_blank" href="mailto:enum@enumsblog.com">「我的邮箱」</a></p>
							<hr />
							<hr />
							<p class="title"><i class="fa fa-fw fa-angle-right"></i>友情链接：
								<a class="footer-link" target="_blank" href="https://bestswifter.com">「bestswifter」</a>
								<a class="footer-link" target="_blank" href="https://halfrost.com">「halfrost」</a>
								<a class="footer-link" target="_blank" href="http://desgard.com">「desgard」</a>
								<a class="footer-link" target="_blank" href="https://www.eyrefree.org">「EyreFree」</a>
								<a class="footer-link" target="_blank" href="http://i.mouto.org">「totoro」</a>
							</p>
							
							<hr />
							<hr />
							<p class="title text-center">留言板</p>
							<hr />

							<div class="col-md-12 column">
								<div class="col-md-6 column">
								    <label class="msg" for="name">昵称</label>
								    <input type="text" class="form-control" id="name" placeholder="请输入名称">
								</div>
								<div class="col-md-6 column">
								    <label class="msg" for="email">邮箱</label>
								    <input type="text" class="form-control" id="email" placeholder="请输入邮箱">
								</div>
								<div class="col-md-12 column" style="height: 20px;"></div>
								<div class="col-md-12 column">
								    <label class="msg" for="name">留言</label>
								    <textarea class="form-control" rows="4" id="comment" placeholder="请输入评论"></textarea>
								</div>
								<div class="col-md-12 column" style="height: 20px;"></div>
								<div class="col-md-12 column">
								    <label class="msg" for="verification">人机校验  <button class="button button-tiny button-plain button-border button-circle" onclick="getVerification()"><i class="fa fa-fw fa-refresh"></i></button></label>
									<p class="text" id="verification_question"></p>
								    <input type="text" class="form-control" id="verification" placeholder="请输入答案">
								</div>
								<div class="col-md-12 column" style="height: 20px;"></div>
								<div class="col-md-12 column">
									<a class="button button-block button-rounded button-primary end-button" onclick="message()">发表留言</a>
								</div>
								<div class="col-md-12 column end"></div>
							</div>
							<div class="col-md-12 column">
								<hr />
{{#_pjango_param_table_message}}
								<i class="date pull-right">{{_pjango_param_table_Message_FLOOR}} 楼</i>
								<p class="comment_author">{{#_pjango_param_table_Message_ISADMIN}}<i class="fa fa-fw fa-star" style="color: red"></i>{{/_pjango_param_table_Message_ISADMIN}}{{_pjango_param_table_Message_NAME}}</p>
								<p class="comment">{{_pjango_param_table_Message_COMMENT}}</p>
								<i class="date">发表于 {{_pjango_param_table_Message_DATE}} </i>
								<hr />
{{/_pjango_param_table_message}}
							</div>

						</div>
					</div>
					<div class="col-md-12 column gap"></div>
				</div>
			</div>

		</div>
		<div class="col-md-12 column" style="height: 100px;">
			<div style="height: 20px;"></div>
			<div class="col-md-6 column col-center corner-window shadow text-center">
				<div style="height: 10px;"></div>
				<a class="button button-plain button-border button-block end-button" onclick="toTop()">回到顶部</a>
				<div style="height: 10px;"></div>
			</div>
		</div>

	</div>
	
{{{_pjango_template_footer_bar}}}
</div>
<script>
	function message() {
		var name = $("#name").val();
		var email = $("#email").val();
		var comment = $("#comment").val();
		var v_a = $("#verification").val();
		_message(name, email, comment, v_id, v_a, function() {
			setCookie("comment_name", name);
			setCookie("comment_email", email);
			location.reload();
		}, function() {
			getVerification();
		});
	}
	
	var v_id = "";
	
	function getVerification() {
		_getVerification(function(text) {
			var strs = text.split("@");
			$("#verification_question").text(strs[0]);
			v_id = strs[1];
		})
	}
	
	getVerification();
	
	$("#name").val(getCookie("comment_name"));
	$("#email").val(getCookie("comment_email"));
	
</script>

</body>
</html>

