<style>
	div.footer {
		background-color: black;
		min-width: 600px;
	}
	p.footer-title {
		color: white;
		font-size: 16px;
		line-height: 1.0;
	}
	a.footer-link {
		color: orange;
		text-decoration: none;
	}

</style>
<div class="col-md-12 column footer height-5" style="min-height: 40px;">
	<div class="height-20"></div>
	<p class="footer-title text-center">
		Copyright © 2016-2019 Enum All rights reserved. | Powered by <a class="footer-link" href="https://github.com/enums/Calatrava">「Calatrava」</a>.
	</p>
</div>