<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=720px, height=1280px"/> 
	<title>{{_pjango_param_name}}的技术博客 | {{_pjango_param_title_message}}</title>
	<link rel="icon" href="/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="/css/buttons.css">  
	<link rel="stylesheet" href="/css/height.css">  
	<link rel="stylesheet" href="/css/me.css">  
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/buttons.js"></script>
</head>
<style>
	p.text {
		color: white;
		font-size: 30px;
	}
</style>
<body class="main-index">

<div class="box">
	
	{{{_pjango_template_navigation_bar}}}
	
	<div class="col-md-12 column height-85" style="min-height: 800px;">
		<div class="col-md-12 column">
			<div class="height-15"></div>
			<div class="col-md-5 col-center corner-window shadow" style="width: 600px">
				<div class="height-5"></div>
				<img class="head img-circle center-block button-glow" src="/img/head_128.png">
				<p class="text text-center">{{_pjango_param_name}}</p>
				<p class="text text-center">{{_pjango_param_message}}</p>
				<hr style="background-color: white"/>
				<h1 class="text-center title">
					<button class="button button-large button-plain button-border button-circle" onclick="window.open('https://xiaozhuanlan.com/graphics_dance')"><i class="fa fa-fw fa-book"></i></button>
					<button class="button button-large button-plain button-border button-circle" onclick="window.open('https://github.com/enums')"><i class="fa fa-fw fa-github"></i></button>
					<button class="button button-large button-plain button-border button-circle" onclick="window.open('http://www.linkedin.com/in/zhengyuqi')"><i class="fa fa-fw fa-linkedin"></i></button>
					<button class="button button-large button-plain button-border button-circle" onclick="window.open('mailto:blog@enumsblog.com')"><i class="fa fa-fw fa-envelope"></i></button>
					<button class="button button-large button-plain button-border button-circle" onclick="window.open('http://www.weibo.com/trmbhs')"><i class="fa fa-fw fa-weibo"></i></button>
				</h1>
				<h1 class="text-center title">
					<a href="{{{_pjango_url_posts_list}}}" class="button button-plain button-glow button-border">技术博文</a>
					<a href="{{{_pjango_url_corpus_list}}}" class="button button-plain button-glow button-border">文集文章</a>
					<a href="{{{_pjango_url_about}}}" class="button button-plain button-glow button-border">关于博客</a>
				</h1>
				<h1 class="text-center title">
					<a href="{{{_pjango_url_update}}}" class="button button-plain button-glow button-border">动态聚合</a>
					<a href="{{{_pjango_url_data}}}" class="button button-plain button-glow button-border">数据统计</a>
					<a href="{{{_pjango_url_modules}}}" class="button button-plain button-glow button-border">所有板块</a>
				</h1>
				<div class="height-3"></div>
			</div>
			<div class="height-5"></div>
		</div>
	</div>
	{{{_pjango_template_footer_bar}}}
</div>

</body>
</html>

