<style>
	div.navigation {
		background-color: black;
		min-width: 600px;
	}
	a.navigation-title {
		color: white;
		font-size: 26px;
		text-decoration: none;
		line-height: 1.0;
	}
	button.navigateion-item {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 20px;
	}
</style>
<div class="col-md-12 column navigation height-10" style="min-height: 80px;">
	<div class="height-30"></div>
	<div class="col-md-12 column">
		<div class="col-md-10 col-md-offset-1 column">
			<a class="navigation-title" href="http://{{_pjango_param_host}}">{{_pjango_param_host}}</a>
			<div class="btn-group pull-right">
				<button class="button button-plain button-border button-circle navigateion-item" onclick="location='http://{{_pjango_param_host}}'">
					<i class="fa fa-fw fa-home"></i>
				</button>
				<button class="button button-plain button-border button-circle navi" onclick="location='http://{{_pjango_param_host}}/update'">
					<i class="fa fa-fw fa-calendar"></i>
				</button>
				<button class="button button-plain button-border button-circle navi" onclick="location='http://{{_pjango_param_host}}/modules'">
					<i class="fa fa-fw fa-list"></i>
				</button>
				<button class="button button-plain button-border button-circle navi" onclick="location='http://{{_pjango_param_host}}/about'">
					<i class="fa fa-fw fa-user"></i>
				</button>
			</div>
		</div>
	</div>
</div>