<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="user-scalable=no, width=720px, height=1280px"/>
	<title>技术博文列表 | {{_pjango_param_title_message}}</title>
	<link rel="icon" href="/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="/css/buttons.css">  
	<link rel="stylesheet" href="/css/height.css">  
	<link rel="stylesheet" href="/css/me.css">  
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/buttons.js"></script>
	<script src="/js/me.js"></script>
</head>
<style>
	p.title {
		color: white;
		font-size: 22px;
	}
	p.text {
		color: white;
		font-size: 16px;
	}
	p.time {
		color: orange;
		font-size: 16px;
	}
	i.text {
		color: white;
		font-size: 16px;
	}
	div.cell {
		cursor: hand;
		transition:background-color 0.3s linear;
	}
	div.cell:hover {
		background-color: rgba(128, 128, 128, 0.6);
	}
	div.archive-cell {
		padding-bottom: 16px;
	}
	div.gap {
		height: 24px;
	}
	div.header {
		height: 60px;
	}
	button.title {
		font-size: 20px;
		pointer-events: none;
	}
	button.search {
		font-size: 20px;
		width: 100%;
	}
	a.text {
		color: white;
		font-size:18px;
	}
	a.tag {
		line-height: 2.5em;
		margin-right: 8px;
	}
</style>
<body class="main">
	
<div class="box">
	
{{{_pjango_template_navigation_bar}}}
	
	<div class="col-md-12 column height-more-than-85">
		<div class="col-md-12 column header">
			<div class="height-10"></div>
			<div class="col-md-4 column col-center height-100 corner-window shadow text-center">
				<div class="height-30"></div>
				<p class="title">{{_pjango_param_list_title}}</p>
			</div>
		</div>
		<div class="col-md-offset-1 row clearfix">
			<div class="col-md-3 column">
				<div class="col-md-12 column">
					<div class="gap"></div>
					<div class="col-md-12 column corner-window shadow">
						<div class="gap"></div>
						<div class="text-center">
							<button class="button button-primary button-plain button-rounded button-border button-primary title">寄语</button>
						</div>
						<div class="gap"></div>
						<p class="title">{{{_pjango_param_message}}}</p>
					</div>
					<div class="col-md-12 column gap"></div>
				</div>
				<div class="col-md-12 column">
					<div class="col-md-12 column corner-window shadow">
						<div class="gap"></div>
						<div class="text-center">
							<button class="button button-primary button-plain button-rounded button-border button-primary search" onclick="location='http://{{_pjango_url_posts_search}}'"><i class="fa fa-fw fa-search"></i>搜索博文</button>
						</div>
						<div class="gap"></div>
					</div>
					<div class="col-md-12 column gap"></div>
				</div>
				<div class="col-md-12 column">
					<div class="col-md-12 column corner-window shadow">
						<div class="gap"></div>
						<div class="text-center">
							<button class="button button-primary button-plain button-rounded button-border button-primary title">标签</button>
						</div>
						<div class="gap"></div>
						<p class="title">
							{{#_pjango_param_all_tags}}
							<a href="/list?tag={{{_pjango_param_table_PostsTag_TAG}}}" class="label {{{_pjango_param_table_PostsTag_LABEL}}} tag">{{{_pjango_param_table_PostsTag_TAG}}}</a>
							{{/_pjango_param_all_tags}}
						</p>
					</div>
					<div class="col-md-12 column gap"></div>
				</div>
				<div class="col-md-12 column">
					<div class="col-md-12 column corner-window shadow">
						<div class="gap"></div>
						<div class="text-center">
							<button class="button button-primary button-plain button-rounded button-border button-primary search" onclick="location='http://{{_pjango_url_posts_archive}}'"><i class="fa fa-fw fa-archive"></i>博文归档</button>
						</div>
						<div class="gap"></div>
					</div>
					<div class="col-md-12 column gap"></div>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="gap"></div>
{{#_pjango_param_table_posts}}
				<div class="col-md-12 column" style="height: 180px;">
					<div class="col-md-12 column height-90 corner-window shadow cell" onclick="location='http://{{{_pjango_url_posts_list}}}/posts/{{{_pjango_param_table_Posts_PID}}}'">
						<div class="height-10"></div>
						<div class="col-md-12 column height-30">
							<p class="title">{{_pjango_param_table_Posts_TITLE}}</p>
						</div>
						<div class="col-md-12 column height-40">
							<p class="title">
							{{#_pjango_param_table_Posts_TAGHTML}}
							<a href="/list?tag={{{_pjango_param_table_PostsTag_TAG}}}" class="label {{{_pjango_param_table_PostsTag_LABEL}}} tag">{{{_pjango_param_table_PostsTag_TAG}}}</a>
							{{/_pjango_param_table_Posts_TAGHTML}}
							</p>
						</div>
						<div class="col-md-5 column pull-left">
							<i class="fa fa-fw fa-calendar text"></i>
							<i class="text">发布于: {{_pjango_param_table_Posts_DATE}}</i>
						</div>
						<div class="col-md-3 column pull-left">
							<i class="fa fa-fw fa-coffee text"></i>
							<i class="text">阅读: {{_pjango_param_table_Posts_READ}}</i>
					
						</div>
						<div class="col-md-2 column pull-left">
							<i class="fa fa-fw fa-comment text"></i>
							<i class="text">评论: {{_pjango_param_table_Posts_COMMENT}}</i>
						</div>
						<div class="col-md-2 column pull-left">
							<i class="fa fa-fw fa-heart text"></i>
							<i class="text">喜欢: {{_pjango_param_table_Posts_LOVE}}</i>
						</div>
		
					</div>
				</div>
{{/_pjango_param_table_posts}}

			</div>
		</div>
		<div class="col-md-12 column">
			<div class="col-md-8 col-md-offset-2 column">
				<div style="height: 20px;"></div>
				<div class="col-md-4 column corner-window shadow text-center">
					<div style="height: 10px;"></div>
					<a class="button button-plain button-border button-block end-button" onclick="prePage()">上一页</a>
					<div style="height: 10px;"></div>
				</div>
				<div class="col-md-4 column text-center">
					<div class="col-md-12 column corner-window text-center" style="height: 60px">
						<div style="height: 20px;"></div>
							<p class="text">第 {{_pjango_param_param_page}} / {{_pjango_param_param_page_total}} 页，共 {{_pjango_param_param_total_count}} 条</p>
					</div>
				</div>
				<div class="col-md-4 column corner-window shadow text-center">
					<div style="height: 10px;"></div>
					<a class="button button-plain button-border button-block end-button" onclick="nextPage()">下一页</a>
					<div style="height: 10px;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-12 column" style="height: 20px"></div>
	</div>
	
{{{_pjango_template_footer_bar}}}
</div>
<script>
	var page = {{{_pjango_param_param_page}}};
	var total = {{{_pjango_param_param_page_total}}};
	var tag = "{{{_pjango_param_param_tag}}}";
	var keyword = "{{{_pjango_param_param_keyword}}}";
	
	function prePage() {
		if (page <= 1) {
			alert("不能再往前翻页啦！");
		} else {
			var l = 'http://{{_pjango_url_posts_list}}/list?page=' + (page - 1);
			if (tag != "") {
				l = l + '&tag=' + tag;
			}
			if (keyword != "") {
				l = l + '&keyword=' + keyword;
			}
			location = l;
		}
	}
	
	function nextPage() {
		if (page >= total) {
			alert("不能再往后翻页啦！");
		} else {
			var l = 'http://{{_pjango_url_posts_list}}/list?page=' + (page + 1);
			if (tag != "") {
				l = l + '&tag=' + tag;
			}
			if (keyword != "") {
				l = l + '&keyword=' + keyword;
			}
			location = l;
		}
	}
</script>
</body>
</html>

