<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=720px, height=1280px"/> 
	<title>全站内容搜索 | {{_pjango_param_title_message}}</title>
	<link rel="icon" href="/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="/css/buttons.css">  
	<link rel="stylesheet" href="/css/height.css">  
	<link rel="stylesheet" href="/css/me.css">  
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/buttons.js"></script>
</head>
<style>
	p.title {
		color: white;
		font-size: 32px;
	}
	p.tag {
		font-size: 22px;
		line-height: 2em;
	}
	input.search {
		color: white;
		background-color: transparent;
	}
	button.search {
		color: white;
		background-color: transparent;
	}
	a.tag {
		margin-right: 4px;
		font-size: 18px;
	}
</style>
<body class="main">

<div class="box">
	
	{{{_pjango_template_navigation_bar}}}
	
	<div class="col-md-12 column height-85">
		<div class="col-md-12 column">
			<div class="height-20"></div>
			<div class="col-md-8 col-center corner-window shadow">
				<div style="height: 20px"></div>
				<div class="text-center">
					<p id="title" class="title">搜索全站内容</p>
				</div>
                <div class="input-group input-group-lg col-md-10 column col-md-offset-1">
                    <input id="search_input" type="text" class="form-control search" placeholder="Keyword or Date. e.g., Metal, 东京, 2019-02-23" onkeydown='if(event.keyCode==13) search()'>
                    <span class="input-group-btn button-dropdown-plain">
                        <button class="btn btn-default search" onclick="search()">搜索</button>
                    </span>
                </div>
				<div style="height: 20px"></div>
                <p class="tag text-center">
					<a class="label label-danger tag" onclick="chooseModule('')">全站内容</a>
					{{#_pjango_param_all_tags}}
					<a class="label label-primary tag" onclick="chooseModule('{{{_pjango_param_table_Module_TITLE}}}')">{{{_pjango_param_table_Module_ICON}}} {{{_pjango_param_table_Module_TITLE}}}</a>
					{{/_pjango_param_all_tags}}
                </p>
				<div style="height: 10px"></div>
			</div>
		</div>

	</div>
	
	{{{_pjango_template_footer_bar}}}
</div>
<script>

var module = "";

function search() {
	var text = document.getElementById('search_input').value;
	var url = 'http://{{_pjango_param_host}}/search_result?'
	if (module != "") {
		url += "module=" + module + "&";
	}
	if (text != "") {
		url += "keyword=" + text;
	}
	location = url;
}
function chooseModule(t) {
	if (t == "") {
		document.getElementById("title").innerHTML="搜索全站内容";
	} else {
		document.getElementById("title").innerHTML="搜索 `" + t + "` 板块内容";
	}
	module = t;
}
</script>
</body>
</html>

