<div class="col-md-12 column">
	<div class="col-md-12 column corner-window shadow cell">
		<div class="col-md-12 column" style="height: 20px;"></div>
		<p class="title">
			<img class="head img-circle" src="/img/head_128.png">
			<font>
			我
			刚刚发布了新的
			业余项目：
			</font>
		</p>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<p>
			<a class="title" style="font-size: 26" target="_blank" href="{{{_pjango_param_url}}}">
				<i class="fa fa-fw fa-github"></i>
				{{_pjango_param_title}}
			</a>
		</p>
		<p class="title">{{_pjango_param_sub_title}}</p>
		<p class="text">{{_pjango_param_memo}}</p>
		</p>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<div class="col-md-12 column">
			<i class="fa fa-fw fa-calendar text"></i>
			<i class="text">{{_pjango_param_date}}</i>
		</div>
		<div class="col-md-12 column" style="height: 10px;"></div>
	</div>
	<div class="col-md-12 column" style="height: 20px;"></div>
</div>