<div class="col-md-12 column">
	<div class="col-md-12 column corner-window shadow cell">
		<div class="col-md-12 column" style="height: 20px;"></div>
		<p class="title">
			<img class="head img-circle" src="/img/postman_128.png">
			<font>
			Postman
			刚刚抓取到了的新
			Instagram：
			</font>
		</p>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<div class="col-md-12 column" style="background: rgba(0, 0, 0, 0.4); border-radius: 8px; min-height: 224px;">
			<div class="col-md-12 column" style="height: 12px;"></div>
			<div class="text-right pull-right" style="height: 200px;">
				<a target="_blank" href="{{_pjango_param_image_origin}}"><img src="{{_pjango_param_image}}" style="border-radius: 8px; height: 100%;"></a>
			</div>
			<div class="col-md-12 column" style="height: 20px;"></div>
			<p class="title">
				<img class="head img-circle" src="{{_pjango_param_author_head}}">
				<a class="title link" target="_blank" href="{{{_pjango_param_author_url}}}">{{_pjango_param_author_fullname}}</a>
			</p>
			<p class="title">
				{{_pjango_param_caption}}
			</p>
		</div>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<div class="col-md-12 column">
			<i class="fa fa-fw fa-calendar text"></i>
			<i class="text">{{_pjango_param_date}}</i>
		</div>
		<div class="col-md-12 column" style="height: 10px;"></div>
	</div>
	<div class="col-md-12 column" style="height: 20px;"></div>
</div>