<div class="col-md-12 column">
	<div class="col-md-12 column corner-window shadow cell">
		<div class="col-md-12 column" style="height: 20px;"></div>
		<p class="title">
			<img class="head img-circle" src="../img/head_128.png">
			<font>
			我
			刚刚发布了新的
			原创视频：
			</font>
		</p>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<p class="title">
			<a class="title" href="{{_pjango_param_url}}">
				<i class="fa fa-fw fa-video-camera"></i>
				{{_pjango_param_title}}
			</a>
		</p>
		<p>
			<a class="title" href="http://{{{_pjango_url_bilibili}}}/list?id={{{_pjango_param_blid}}}">
				<i class="fa fa-fw fa-list"></i>
				收录于播单：《{{_pjango_param_list_title}}》
			</a>
		</p>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<div class="col-md-12 column" style="background: rgba(0, 0, 0, 0.4); border-radius: 8px; min-height: 224px;">
			<div class="col-md-12 column" style="height: 12px;"></div>
			<div class="text-right pull-right" style="height: 200px;">
				<a target="_blank" href="{{_pjango_param_url}}"><img src="http://{{_pjango_param_image}}" style="border-radius: 8px; height: 100%;"></a>
			</div>
			<div class="col-md-12 column" style="height: 20px;"></div>
			<p class="title">
				<img class="head img-circle" src="/img/bilibili/head.jpg">
				<a class="title link" target="_blank" href="https://space.bilibili.com/1135309/">{{_pjango_param_name}}</a>
			</p>
			<p class="title">
				{{_pjango_param_memo}}
			</p>
		</div>
		<div class="col-md-12 column" style="height: 8px;"></div>
		<div class="col-md-12 column">
			<i class="fa fa-fw fa-calendar text"></i>
			<i class="text">{{_pjango_param_date}}</i>
		</div>
		<div class="col-md-12 column" style="height: 10px;"></div>
	</div>
	<div class="col-md-12 column" style="height: 20px;"></div>
</div>