
body.main {
	background: url("/img/background.jpg") fixed center center no-repeat;
	background-size: cover;
}

body.main:before {
  	content: ' ';
  	position: fixed;
  	z-index: -1;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	background: url("/img/background.jpg") center center no-repeat;
	background-size: cover;
}

body.main-index {
	background: url("/img/background_index.jpg") fixed center center no-repeat;
	background-size: cover;
}

body.main-index:before {
  	content: ' ';
  	position: fixed;
  	z-index: -1;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	background: url("/img/background_index.jpg") center center no-repeat;
	background-size: cover;
}

body.main-me {
	background: url("/img/background_me.jpg") fixed center center no-repeat;
	background-size: cover;
}

body.main-me:before {
  	content: ' ';
  	position: fixed;
  	z-index: -1;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	background: url("/img/background_me.jpg") center center no-repeat;
	background-size: cover;
}

img.head{
	width: 128px;
	height: 128px;
	min-height: 128px;
	max-height: 128px;
}

div.corner-window {
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.6);
}

div.window {
	background: rgba(0, 0, 0, 0.6);
}

div.shadow {
	box-shadow: 4px 4px 6px black;
}

div.grey-shadow {
	box-shadow: 4px 4px 6px grey;
}

div.scroll {
	overflow-y:auto
}
